{% extends 'partials/_master.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% setcontent contact = 'contact' limit 1 returnsingle %}

    <div class="container py-3">
        <h1><i class="far fa-envelope"></i> Contact</h1>
        <div class="wysiwyg">
            {{ contact.contact_text|raw }}
        </div>

        {{ boltforms('contact') }}
    </div>
{% endblock body %}