{% extends 'partials/_master.twig' %}

{% block title %}Nous rejoindre{% endblock title %}

{% block body %}
    {% setcontent content = 'join_us/1' %}

    <h1 class="my-3"><i class="fas fa-handshake"></i> Nous rejoindre</h1>
    {{ content.intro_text }}

    <h2 class="my-4">Questions fréquentes</h2>

    {% set i = 1 %}
    {% for question in content.questions %}
        <div class="question text-20 mb-2">
            <div class="question-image d-inline-block">{{ i }}</div>
            {{ question.repeatquestion }}
        </div>
        {{ question.repeatanswer|raw }}
        {% set i = i + 1 %}
    {% endfor %}

{% endblock body %}