{% extends 'partials/_master.twig' %}

{% block title %}Mentions légales{% endblock title %}

{% block body %}
    {% setcontent mentions_legales = 'mentions_legales' limit 1 returnsingle %}

    <div class="container py-3">
        <h1 class="mb-3"><i class="fas fa-gavel"></i> Mentions légales</h1>
        <div class="wysiwyg">{{ mentions_legales.mentions_legales_text }}</div>
    </div>
{% endblock body %}