{% setcontent records = contenttype ~ "/latest/3" where { id: '!' ~ record.id } %}

    {% for record in records %}
        <a href="{{ record.link }}" class="no-decoration">
            <div class="mb-2">
                <h5 class="text-bleu mb-0">{{ record.title }}</h5>
                <p class="small text-dark">Le {{ record.datepublish|localedatetime("%e %B %Y") }},
                    par {{ record.user.displayname }}.</p>
            </div>
        </a>
    {% else %}
        <div class="col-12">Aucune actualité récente à afficher</div>
    {% endfor %}
